apiVersion: v1
kind: Namespace
metadata:
  name: wireguard

---
#! Secret containing all configuration data for WireGuard, to be mapped as volume/files into container
apiVersion: v1
kind: Secret
metadata:
  name: wireguard
  namespace: wireguard
  labels:
    app: wireguard
type: Opaque
stringData:
  wg0.key: {{ server.pvt_key }}
  wg0.conf: |
    [Interface]
    Address = {{ server.subnet }}.1/24
    ListenPort = 51820
    PostUp = wg set wg0 private-key /etc/wireguard/wg0.key && iptables -t nat -A POSTROUTING -s {{ server.subnet }}.0/24 -o eth0 -j MASQUERADE
    PostDown = iptables -t nat -D POSTROUTING -s {{ server.subnet }}.0/24 -o eth0 -j MASQUERADE
    MTU = 1420
    SaveConfig = false

{% for name,settings in clients.items() %}
    # Client {{ name }}
    [Peer]
    PublicKey = {{ settings.pub_key }}
    AllowedIPs = {{ server.subnet }}.{{ settings.index }}/32

{% endfor %}

